In [ ]:
Use AdvWorksDW
GO

CREATE SCHEMA ext;
GO

## **Virtualizing a Data Lake**

  

![]()

## **Creating Data Sources**

These are two basic data sources needed:

-   **HDFS Storage**: This data source allows SQL Server to query the storage pool directly
    
-   **Hadoop** : This data source allows SQL Server to send a query to Spark to process

In [ ]:
IF NOT EXISTS(SELECT * FROM sys.external_data_sources WHERE name = 'SqlStoragePool')
BEGIN
  CREATE EXTERNAL DATA SOURCE SqlStoragePool
  WITH (LOCATION = 'sqlhdfs://controller-svc/default');
END

 CREATE EXTERNAL DATA SOURCE HadoopData
    WITH(
            TYPE=HADOOP,
            LOCATION='hdfs://nmnode-0-svc:9000/',
            RESOURCE_MANAGER_LOCATION='sparkhead-svc:8032')

## **The mounts should be made now**

abfs://samplecontainer@datalakedemomalta.dfs.core.windows.net/holiday

abfs://samplecontainer@datalakedemomalta.dfs.core.windows.net/weather  

wasbs://2013@nytaxiblob.blob.core.windows.net/Trip2013  

![]()

## **Creating the File Formats**

In [ ]:
CREATE EXTERNAL FILE FORMAT parquetformat  
WITH (  
    FORMAT_TYPE = PARQUET,
    DATA_COMPRESSION = 'org.apache.hadoop.io.compress.SnappyCodec'
);  
go 

CREATE EXTERNAL FILE FORMAT [csvFormat]
    WITH (FORMAT_TYPE = DELIMITEDTEXT, FORMAT_OPTIONS (FIELD_TERMINATOR = N',', STRING_DELIMITER = N'"', FIRST_ROW = 1));
GO

CREATE EXTERNAL FILE FORMAT compressedcsv
WITH ( 
    FORMAT_TYPE = DELIMITEDTEXT,
    FORMAT_OPTIONS ( FIELD_TERMINATOR = '|',
        STRING_DELIMITER = '',
    DATE_FORMAT = '',
        USE_TYPE_DEFAULT = False
    ),
    DATA_COMPRESSION = 'org.apache.hadoop.io.compress.GzipCodec'
);
go

##  **Creating External Table on Storage Pool**

In [ ]:
        CREATE EXTERNAL TABLE [ext].[weather]
        (
            [Usaf] int NOT NULL,
            [Wban] int NOT NULL,
            [Datetime] datetime2 NOT NULL,
            [Latitude] float NOT NULL,
            [Longitude] float NOT NULL,
            [Elevation] float NOT NULL,
            [WindAngle] smallint,
            [WindSpeed] float,
            [Temperature] float,
            [SeaLvPressure] nvarchar(1),
            [CloudCoverage] nvarchar(1),
            [PresentWeatherIndicator] nvarchar(1),
            [PastWeatherIndicator] nvarchar(1),
            [PrecipTime] decimal(3, 1),
            [PrecipDepth] decimal(3, 1),
            [SnowDepth] nvarchar(1),
            [StationName] nvarchar(50) NOT NULL,
            [CountryOrRegion] nvarchar(50) NOT NULL,
            [P_k] nvarchar(50) NOT NULL,
            [Year] smallint NOT NULL,
            [Day] tinyint NOT NULL,
            [Version] float NOT NULL
        )
        WITH (LOCATION = N'/weather', 
            DATA_SOURCE = [SqlStoragePool], 
            FILE_FORMAT = [csvFormat]);

In [25]:
Select top 100 * from ext.weather

Usaf,Wban,Datetime,Latitude,Longitude,Elevation,WindAngle,WindSpeed,Temperature,SeaLvPressure,CloudCoverage,PresentWeatherIndicator,PastWeatherIndicator,PrecipTime,PrecipDepth,SnowDepth,StationName,CountryOrRegion,P_k,Year,Day,Version
999999,63891,2008-05-29 09:45:00.0000000,32.852,-86.612,178,0,0,18.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,29,1
999999,63891,2008-05-20 03:50:00.0000000,32.852,-86.612,178,210,2.2,20.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,20,1
999999,63868,2008-05-03 05:50:00.0000000,34.66,-87.346,175,180,7.1,21.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,3,1
999999,63868,2008-05-25 18:10:00.0000000,34.66,-87.346,175,339,0.9,28.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,25,1
999999,63867,2008-05-03 09:50:00.0000000,34.195,-86.796,244,183,3.2,18.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,3,1
999999,63868,2008-05-01 13:45:00.0000000,34.66,-87.346,175,183,4.2,17.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,1,1
999999,63867,2008-05-10 21:35:00.0000000,34.195,-86.796,244,48,0.7,25.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,10,1
999999,63867,2008-05-17 05:00:00.0000000,34.195,-86.796,244,35,0.5,8.5,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CULLMAN 3 ENE,US,999999-63867,2008,17,1
999999,63868,2008-05-17 02:50:00.0000000,34.66,-87.346,175,343,1.6,14,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,17,1
999999,63891,2008-05-04 09:05:00.0000000,32.852,-86.612,178,358,2,13.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,4,1
999999,63868,2008-05-03 06:05:00.0000000,34.66,-87.346,175,181,7.6,21.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,3,1
999999,63868,2008-05-06 07:35:00.0000000,34.66,-87.346,175,0,0,10.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,6,1
999999,63867,2008-05-01 01:35:00.0000000,34.195,-86.796,244,151,1.2,17.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,1,1
999999,63891,2008-05-12 14:30:00.0000000,32.852,-86.612,178,7,4.9,15.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,12,1
999999,63891,2008-05-03 12:30:00.0000000,32.852,-86.612,178,286,3,18.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,3,1
999999,63868,2008-05-26 00:00:00.0000000,34.66,-87.346,175,164,2.2,29.6,NULL,NULL,NULL,NULL,1.0,0.0,NULL,COURTLAND 2 WSW,US,999999-63868,2008,26,1
999999,63868,2008-05-01 00:00:00.0000000,34.66,-87.346,175,193,4.9,23.5,NULL,NULL,NULL,NULL,1.0,0.0,NULL,COURTLAND 2 WSW,US,999999-63868,2008,1,1
999999,63897,2008-05-05 21:10:00.0000000,32.335,-86.979,48,346,4.6,25.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,5,1
999999,63868,2008-05-18 20:30:00.0000000,34.66,-87.346,175,266,5.1,23.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,18,1
999999,63891,2008-05-20 12:30:00.0000000,32.852,-86.612,178,232,4.9,21.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,20,1
999999,63868,2008-05-22 04:45:00.0000000,34.66,-87.346,175,223,0.6,14.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,22,1
999999,63891,2008-05-02 20:40:00.0000000,32.852,-86.612,178,184,5.8,25.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,2,1
999999,63891,2008-05-15 02:20:00.0000000,32.852,-86.612,178,156,2,22.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,15,1
999999,63868,2008-05-19 00:20:00.0000000,34.66,-87.346,175,270,3.1,22.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,19,1
999999,63868,2008-05-09 04:15:00.0000000,34.66,-87.346,175,272,4.7,18.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,9,1
999999,63897,2008-05-12 18:35:00.0000000,32.335,-86.979,48,317,3,23,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,12,1
999999,63868,2008-05-15 07:00:00.0000000,34.66,-87.346,175,93,0.7,17.8,NULL,NULL,NULL,NULL,1.0,0.0,NULL,COURTLAND 2 WSW,US,999999-63868,2008,15,1
999999,63897,2008-05-27 23:50:00.0000000,32.335,-86.979,48,222,2.3,29.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,27,1
999999,63897,2008-05-28 23:20:00.0000000,32.335,-86.979,48,334,4.6,27.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,28,1
999999,63868,2008-05-25 20:15:00.0000000,34.66,-87.346,175,145,1.4,29.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,25,1
999999,63891,2008-05-21 12:00:00.0000000,32.852,-86.612,178,30,2.5,18.1,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CLANTON 2 NE,US,999999-63891,2008,21,1
999999,63867,2008-05-22 14:35:00.0000000,34.195,-86.796,244,143,1.9,21.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,22,1
999999,63897,2008-05-27 00:05:00.0000000,32.335,-86.979,48,108,1.6,27.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,27,1
999999,63867,2008-05-23 21:20:00.0000000,34.195,-86.796,244,192,0.9,27.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,23,1
999999,63897,2008-05-20 14:55:00.0000000,32.335,-86.979,48,246,5.2,26.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,20,1
999999,63868,2008-05-07 00:30:00.0000000,34.66,-87.346,175,153,0.6,22.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,7,1
999999,63897,2008-05-15 17:25:00.0000000,32.335,-86.979,48,135,3,21.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,15,1
999999,63891,2008-05-07 03:15:00.0000000,32.852,-86.612,178,2,0.9,15.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,7,1
999999,63867,2008-05-05 17:00:00.0000000,34.195,-86.796,244,22,4.1,19.8,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CULLMAN 3 ENE,US,999999-63867,2008,5,1
999999,63867,2008-05-06 17:35:00.0000000,34.195,-86.796,244,81,2.1,24.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,6,1
999999,63897,2008-05-19 12:00:00.0000000,32.335,-86.979,48,150,0.8,18.9,NULL,NULL,NULL,NULL,1.0,0.0,NULL,SELMA 6 SSE,US,999999-63897,2008,19,1
999999,63867,2008-05-30 00:40:00.0000000,34.195,-86.796,244,84,0.7,23.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,30,1
999999,63868,2008-05-03 10:40:00.0000000,34.66,-87.346,175,192,6.9,17.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,3,1
999999,63867,2008-05-14 05:30:00.0000000,34.195,-86.796,244,51,1.2,11.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,14,1
999999,63891,2008-05-09 10:00:00.0000000,32.852,-86.612,178,255,0.9,16.2,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CLANTON 2 NE,US,999999-63891,2008,9,1
999999,63868,2008-05-18 01:15:00.0000000,34.66,-87.346,175,220,2.6,19,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,18,1
999999,63868,2008-05-12 19:40:00.0000000,34.66,-87.346,175,309,2.6,20.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,12,1
999999,63867,2008-05-02 18:25:00.0000000,34.195,-86.796,244,196,4.5,22.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,2,1
999999,63891,2008-05-04 18:10:00.0000000,32.852,-86.612,178,266,2.8,23.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,4,1
999999,63891,2008-05-06 10:50:00.0000000,32.852,-86.612,178,74,0.1,9.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,6,1
999999,63867,2008-05-06 01:05:00.0000000,34.195,-86.796,244,38,0.1,15.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,6,1
999999,63897,2008-05-06 08:50:00.0000000,32.335,-86.979,48,161,0.9,9.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,6,1
999999,63868,2008-05-01 16:10:00.0000000,34.66,-87.346,175,194,8.4,22.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,1,1
999999,63868,2008-05-13 01:35:00.0000000,34.66,-87.346,175,228,1.3,15.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,13,1
999999,63868,2008-05-19 05:35:00.0000000,34.66,-87.346,175,158,0.1,14.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,19,1
999999,63868,2008-05-16 05:55:00.0000000,34.66,-87.346,175,322,6.3,17.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,16,1
999999,63867,2008-05-04 05:50:00.0000000,34.195,-86.796,244,13,1.8,13.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,4,1
999999,63891,2008-05-02 22:20:00.0000000,32.852,-86.612,178,195,4.7,25.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,2,1
999999,63891,2008-05-30 04:40:00.0000000,32.852,-86.612,178,119,3.1,23,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,30,1
999999,63867,2008-05-05 04:10:00.0000000,34.195,-86.796,244,23,1.2,9.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,5,1
999999,63868,2008-05-25 18:25:00.0000000,34.66,-87.346,175,266,1.2,29,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,25,1
999999,63891,2008-05-31 03:05:00.0000000,32.852,-86.612,178,101,0.2,22.1,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,31,1
999999,63867,2008-05-20 05:10:00.0000000,34.195,-86.796,244,231,5.3,22.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,20,1
999999,63891,2008-05-06 09:40:00.0000000,32.852,-86.612,178,0,0,9.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,6,1
999999,63897,2008-05-25 11:40:00.0000000,32.335,-86.979,48,48,0.6,20.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,25,1
999999,63897,2008-05-30 23:45:00.0000000,32.335,-86.979,48,212,2.4,30.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,30,1
999999,63868,2008-05-12 12:20:00.0000000,34.66,-87.346,175,355,1.9,11.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,12,1
999999,63897,2008-05-19 20:30:00.0000000,32.335,-86.979,48,244,3.9,29.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,19,1
999999,63867,2008-05-07 20:40:00.0000000,34.195,-86.796,244,198,4.2,27.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,7,1
999999,63897,2008-05-16 14:50:00.0000000,32.335,-86.979,48,307,3.7,20.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,16,1
999999,63867,2008-05-18 22:35:00.0000000,34.195,-86.796,244,268,4.3,23.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,18,1
999999,63867,2008-05-09 03:25:00.0000000,34.195,-86.796,244,169,1.3,17.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,9,1
999999,63868,2008-05-07 06:30:00.0000000,34.66,-87.346,175,211,2.4,18.2,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,7,1
999999,63867,2008-05-04 09:10:00.0000000,34.195,-86.796,244,9,2.3,10.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,4,1
999999,63867,2008-05-24 02:05:00.0000000,34.195,-86.796,244,55,0.8,19.6,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,24,1
999999,63868,2008-05-21 04:55:00.0000000,34.66,-87.346,175,17,1.1,18.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,21,1
999999,63867,2008-05-22 01:15:00.0000000,34.195,-86.796,244,51,1.2,16,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,22,1
999999,63867,2008-05-04 14:10:00.0000000,34.195,-86.796,244,26,3,13.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,4,1
999999,63897,2008-05-27 13:30:00.0000000,32.335,-86.979,48,159,1.4,24,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,27,1
999999,63897,2008-05-04 00:55:00.0000000,32.335,-86.979,48,152,1.5,18.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,4,1
999999,63891,2008-05-09 03:15:00.0000000,32.852,-86.612,178,357,0.7,19.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,9,1
999999,63891,2008-05-03 14:45:00.0000000,32.852,-86.612,178,139,3.8,16.7,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,3,1
999999,63891,2008-05-24 15:35:00.0000000,32.852,-86.612,178,306,2.1,27,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,24,1
999999,63868,2008-05-05 16:15:00.0000000,34.66,-87.346,175,333,3.5,19.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,5,1
999999,63891,2008-05-14 19:00:00.0000000,32.852,-86.612,178,40,2,23.5,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CLANTON 2 NE,US,999999-63891,2008,14,1
999999,63867,2008-05-22 03:35:00.0000000,34.195,-86.796,244,79,0.2,12.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,22,1
999999,63867,2008-05-03 11:20:00.0000000,34.195,-86.796,244,246,1,16.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,3,1
999999,63867,2008-05-16 04:00:00.0000000,34.195,-86.796,244,217,2.1,18.6,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CULLMAN 3 ENE,US,999999-63867,2008,16,1
999999,63897,2008-05-19 02:00:00.0000000,32.335,-86.979,48,217,2.3,20.6,NULL,NULL,NULL,NULL,1.0,0.0,NULL,SELMA 6 SSE,US,999999-63897,2008,19,1
999999,63891,2008-05-18 16:45:00.0000000,32.852,-86.612,178,265,4.5,23.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,18,1
999999,63867,2008-05-04 22:10:00.0000000,34.195,-86.796,244,326,2.3,20.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CULLMAN 3 ENE,US,999999-63867,2008,4,1
999999,63867,2008-05-28 15:00:00.0000000,34.195,-86.796,244,144,0.8,20.3,NULL,NULL,NULL,NULL,1.0,0.0,NULL,CULLMAN 3 ENE,US,999999-63867,2008,28,1
999999,63891,2008-05-10 15:35:00.0000000,32.852,-86.612,178,258,2.6,23.3,NULL,NULL,NULL,NULL,NULL,NULL,NULL,CLANTON 2 NE,US,999999-63891,2008,10,1
999999,63897,2008-05-30 19:20:00.0000000,32.335,-86.979,48,8,1,30.9,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,30,1
999999,63868,2008-05-19 11:55:00.0000000,34.66,-87.346,175,193,0.5,12,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,19,1
999999,63897,2008-05-14 07:15:00.0000000,32.335,-86.979,48,138,1.2,16.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,14,1
999999,63897,2008-05-18 00:30:00.0000000,32.335,-86.979,48,284,1.8,20.5,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,18,1
999999,63868,2008-05-08 00:35:00.0000000,34.66,-87.346,175,163,2.4,25,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,8,1
999999,63897,2008-05-19 05:45:00.0000000,32.335,-86.979,48,215,2.5,18.8,NULL,NULL,NULL,NULL,NULL,NULL,NULL,SELMA 6 SSE,US,999999-63897,2008,19,1
999999,63868,2008-05-15 15:15:00.0000000,34.66,-87.346,175,194,5.3,19.4,NULL,NULL,NULL,NULL,NULL,NULL,NULL,COURTLAND 2 WSW,US,999999-63868,2008,15,1

## **Internal Details**

When executing a query directly on the storage, the master delegates the execution to the compute pool

It's interesting to notice how the distribution involves the HEAD and COMPUTE nodes in the compute pool, in some levels ignoring HEAD and COMPUTE are the same on the current configuration and the number of existing COMPUTE nodes.

In [26]:
select top 8 execution_id, status, start_time,end_time,
            compute_pool_id, text,dbid 
 from sys.dm_exec_distributed_requests
cross apply sys.dm_exec_sql_text(sql_handle) st
order by start_time desc

execution_id,status,start_time,end_time,compute_pool_id,text,dbid
QID769,Running,2020-11-05 23:14:09.670,NULL,1,"CREATE FUNCTION sys.fn_polybase_distributed_requests_per_pool(@poolId int) RETURNS @distributed_requests TABLE ( sql_handle varbinary(64), execution_id nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile, force scaleoutexecution) RETURN END",32767
QID963,Running,2020-11-05 23:14:09.367,NULL,0,"CREATE FUNCTION sys.fn_polybase_distributed_requests_per_pool(@poolId int) RETURNS @distributed_requests TABLE ( sql_handle varbinary(64), execution_id nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile, force scaleoutexecution) RETURN END",32767
QID766,Completed,2020-11-05 23:03:35.963,2020-11-05 23:03:36.443,1,Select top 100 * from ext.weather,NULL
QID764,Completed,2020-11-04 22:20:17.137,2020-11-04 22:20:18.243,1,"WITH daily_sales AS ( select orderdate,count(*) as total from FactInternetSales where year(orderdate)=2013 group by orderdate ), public_holidays AS ( SELECT holidayname as holiday, date FROM ext.holidays WHERE countryorregion = 'United States' AND YEAR(date) = 2013 ) SELECT [orderdate], case when holiday is null then 0 else total end holiday,total FROM daily_sales s LEFT OUTER JOIN public_holidays p on s.orderdate = p.date ORDER BY orderdate ASC;",NULL
QID958,Completed,2020-11-04 22:18:25.127,2020-11-04 22:18:25.457,0,"select orderdate,count(*) as total from FactInternetSales where year(orderdate)=2013 group by orderdate",NULL
QID955,Completed,2020-11-04 22:17:41.670,2020-11-04 22:17:42.147,0,"select year(orderdate) Year, count(*) as total from FactInternetSales group by year(orderdate)",NULL
QID952,Completed,2020-11-04 21:59:09.457,2020-11-04 22:10:30.397,0,"select passengercount,count(*) as total from ext.Trip group by passengercount",NULL
QID950,Failed,2020-11-04 21:40:24.803,2020-11-04 21:43:25.880,0,"select passengercount,count(*) as total from ext.Trip group by passengercount",NULL

In [27]:
select execution_id,step_index, operation_type,
        distribution_type, location_type,
        row_count,command,
        compute_pool_id, status
 from sys.dm_exec_distributed_request_steps
where execution_id='QID766'
order by step_index

execution_id,step_index,operation_type,distribution_type,location_type,row_count,command,compute_pool_id,status
QID766,0,RandomIDOperation,Unspecified,Head,-1,TEMP_ID_101,1,Complete
QID766,0,RandomIDOperation,Unspecified,Head,-1,TEMP_ID_59,0,Complete
QID766,1,OnOperation,Unspecified,Head,-1,"CREATE TABLE [tempdb].[dbo].[TEMP_ID_59] ([execution_id] NVARCHAR(32) COLLATE Latin1_General_CI_AI, [step_index] INT, [dms_step_index] INT, [compute_node_id] INT, [distribution_id] INT, [type] NVARCHAR(32) COLLATE Latin1_General_CI_AI, [status] NVARCHAR(32) COLLATE Latin1_General_CI_AI, [bytes_per_sec] BIGINT, [bytes_processed] BIGINT, [rows_processed] BIGINT, [start_time] DATETIME, [end_time] DATETIME, [total_elapsed_time] INT, [cpu_time] BIGINT, [query_time] INT, [buffers_available] INT, [dms_cpid] INT, [sql_spid] INT, [error_id] NVARCHAR(36) COLLATE Latin1_General_CI_AI, [source_info] NVARCHAR(4000) COLLATE Latin1_General_CI_AI, [destination_info] NVARCHAR(4000) COLLATE Latin1_General_CI_AI, [command] NVARCHAR(4000) COLLATE Latin1_General_CI_AI );",0,Complete
QID766,1,OnOperation,AllDistributions,Compute,-1,"CREATE TABLE [tempdb].[dbo].[TEMP_ID_101] ([Usaf] INT NOT NULL, [Wban] INT NOT NULL, [Datetime] DATETIME2(7) NOT NULL, [Latitude] FLOAT(53) NOT NULL, [Longitude] FLOAT(53) NOT NULL, [Elevation] FLOAT(53) NOT NULL, [WindAngle] SMALLINT, [WindSpeed] FLOAT(53), [Temperature] FLOAT(53), [SeaLvPressure] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [CloudCoverage] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PresentWeatherIndicator] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PastWeatherIndicator] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PrecipTime] DECIMAL(3, 1), [PrecipDepth] DECIMAL(3, 1), [SnowDepth] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [StationName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [CountryOrRegion] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [P_k] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [Year] SMALLINT NOT NULL, [Day] TINYINT NOT NULL, [Version] FLOAT(53) NOT NULL ) WITH(DATA_COMPRESSION=PAGE);",1,Complete
QID766,2,OnOperation,AllDistributions,Compute,-1,"EXEC [tempdb].[sys].[sp_addextendedproperty] @name=N'IS_EXTERNAL_STREAMING_TABLE', @value=N'true', @level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'TEMP_ID_101'",1,Complete
QID766,2,MetaDataCreateOperation,Unspecified,Head,-1,NULL,0,Complete
QID766,3,StreamingReturnOperation,Unspecified,DMS,514,"SELECT [T1_1].[step_index] AS [step_index], [T1_1].[dms_step_index] AS [dms_step_index], [T1_1].[compute_node_id] AS [compute_node_id], [T1_1].[distribution_id] AS [distribution_id], [T1_1].[bytes_per_sec] AS [bytes_per_sec], [T1_1].[bytes_processed] AS [bytes_processed], [T1_1].[rows_processed] AS [rows_processed], [T1_1].[start_time] AS [start_time], [T1_1].[end_time] AS [end_time], [T1_1].[total_elapsed_time] AS [total_elapsed_time], [T1_1].[cpu_time] AS [cpu_time], [T1_1].[query_time] AS [query_time], [T1_1].[buffers_available] AS [buffers_available], [T1_1].[dms_cpid] AS [dms_cpid], [T1_1].[sql_spid] AS [sql_spid], [T1_1].[col] AS [col], [T1_1].[col1] AS [col1], [T1_1].[col2] AS [col2], [T1_1].[col3] AS [col3], [T1_1].[col4] AS [col4], [T1_1].[col5] AS [col5], [T1_1].[col6] AS [col6] FROM (SELECT CONVERT (NVARCHAR (32), CONVERT (NVARCHAR (32), [T2_1].[execution_id], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col], CONVERT (NVARCHAR (32), CONVERT (NVARCHAR (32), [T2_1].[type], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col1], CONVERT (NVARCHAR (32), CONVERT (NVARCHAR (32), [T2_1].[status], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col2], CONVERT (NVARCHAR (36), CONVERT (NVARCHAR (36), [T2_1].[error_id], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col3], CONVERT (NVARCHAR (4000), CONVERT (NVARCHAR (4000), [T2_1].[source_info], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col4], CONVERT (NVARCHAR (4000), CONVERT (NVARCHAR (4000), [T2_1].[destination_info], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col5], CONVERT (NVARCHAR (4000), CONVERT (NVARCHAR (4000), [T2_1].[command], 0) COLLATE SQL_Latin1_General_CP1_CI_AS, 0) COLLATE Latin1_General_CI_AI AS [col6], [T2_1].[step_index] AS [step_index], [T2_1].[dms_step_index] AS [dms_step_index], [T2_1].[compute_node_id] AS [compute_node_id], [T2_1].[distribution_id] AS [distribution_id], [T2_1].[bytes_per_sec] AS [bytes_per_sec], [T2_1].[bytes_processed] AS [bytes_processed], [T2_1].[rows_processed] AS [rows_processed], [T2_1].[start_time] AS [start_time], [T2_1].[end_time] AS [end_time], [T2_1].[total_elapsed_time] AS [total_elapsed_time], [T2_1].[cpu_time] AS [cpu_time], [T2_1].[query_time] AS [query_time], [T2_1].[buffers_available] AS [buffers_available], [T2_1].[dms_cpid] AS [dms_cpid], [T2_1].[sql_spid] AS [sql_spid] FROM [tempdb].[dbo].[TEMP_ID_59] AS T2_1) AS T1_1",0,Complete
QID766,3,OnOperation,AllDistributions,Compute,-1,"UPDATE STATISTICS [tempdb].[dbo].[TEMP_ID_101] WITH ROWCOUNT = 13, PAGECOUNT = 1",1,Complete
QID766,4,RandomIDOperation,Unspecified,Head,-1,TEMP_ID_102,1,Complete
QID766,4,OnOperation,Unspecified,Head,-1,DROP TABLE [tempdb].[dbo].[TEMP_ID_59],0,Complete
QID766,5,OnOperation,Unspecified,Head,-1,"CREATE TABLE [tempdb].[dbo].[TEMP_ID_102] ([Usaf] INT NOT NULL, [Wban] INT NOT NULL, [Datetime] DATETIME2(7) NOT NULL, [Latitude] FLOAT(53) NOT NULL, [Longitude] FLOAT(53) NOT NULL, [Elevation] FLOAT(53) NOT NULL, [WindAngle] SMALLINT, [WindSpeed] FLOAT(53), [Temperature] FLOAT(53), [SeaLvPressure] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [CloudCoverage] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PresentWeatherIndicator] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PastWeatherIndicator] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [PrecipTime] DECIMAL(3, 1), [PrecipDepth] DECIMAL(3, 1), [SnowDepth] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS, [StationName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [CountryOrRegion] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [P_k] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, [Year] SMALLINT NOT NULL, [Day] TINYINT NOT NULL, [Version] FLOAT(53) NOT NULL ) WITH(DATA_COMPRESSION=PAGE);",1,Complete
QID766,6,MultiStreamOperation,Unspecified,Head,-1,NULL,1,Complete
QID766,7,ExternalGenericRoundRobinOperation,Unspecified,DMS,100,External RoundRobin,1,Complete
QID766,8,PartitionMoveOperation,Unspecified,DMS,100,"SELECT [T1_1].[Usaf] AS [Usaf], [T1_1].[Wban] AS [Wban], [T1_1].[Datetime] AS [Datetime], [T1_1].[Latitude] AS [Latitude], [T1_1].[Longitude] AS [Longitude], [T1_1].[Elevation] AS [Elevation], [T1_1].[WindAngle] AS [WindAngle], [T1_1].[WindSpeed] AS [WindSpeed], [T1_1].[Temperature] AS [Temperature], [T1_1].[SeaLvPressure] AS [SeaLvPressure], [T1_1].[CloudCoverage] AS [CloudCoverage], [T1_1].[PresentWeatherIndicator] AS [PresentWeatherIndicator], [T1_1].[PastWeatherIndicator] AS [PastWeatherIndicator], [T1_1].[PrecipTime] AS [PrecipTime], [T1_1].[PrecipDepth] AS [PrecipDepth], [T1_1].[SnowDepth] AS [SnowDepth], [T1_1].[StationName] AS [StationName], [T1_1].[CountryOrRegion] AS [CountryOrRegion], [T1_1].[P_k] AS [P_k], [T1_1].[Year] AS [Year], [T1_1].[Day] AS [Day], [T1_1].[Version] AS [Version] FROM [tempdb].[dbo].[TEMP_ID_101] AS T1_1",1,Complete
QID766,9,OnOperation,AllDistributions,Compute,-1,DROP TABLE [tempdb].[dbo].[TEMP_ID_101],1,Complete
QID766,10,ReturnOperation,Unspecified,Head,-1,"SELECT [T1_1].[Usaf] AS [Usaf], [T1_1].[Wban] AS [Wban], [T1_1].[Datetime] AS [Datetime], [T1_1].[Latitude] AS [Latitude], [T1_1].[Longitude] AS [Longitude], [T1_1].[Elevation] AS [Elevation], [T1_1].[WindAngle] AS [WindAngle], [T1_1].[WindSpeed] AS [WindSpeed], [T1_1].[Temperature] AS [Temperature], [T1_1].[SeaLvPressure] AS [SeaLvPressure], [T1_1].[CloudCoverage] AS [CloudCoverage], [T1_1].[PresentWeatherIndicator] AS [PresentWeatherIndicator], [T1_1].[PastWeatherIndicator] AS [PastWeatherIndicator], [T1_1].[PrecipTime] AS [PrecipTime], [T1_1].[PrecipDepth] AS [PrecipDepth], [T1_1].[SnowDepth] AS [SnowDepth], [T1_1].[StationName] AS [StationName], [T1_1].[CountryOrRegion] AS [CountryOrRegion], [T1_1].[P_k] AS [P_k], [T1_1].[Year] AS [Year], [T1_1].[Day] AS [Day], [T1_1].[Version] AS [Version] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[Usaf] AS [Usaf], [T2_1].[Wban] AS [Wban], [T2_1].[Datetime] AS [Datetime], [T2_1].[Latitude] AS [Latitude], [T2_1].[Longitude] AS [Longitude], [T2_1].[Elevation] AS [Elevation], [T2_1].[WindAngle] AS [WindAngle], [T2_1].[WindSpeed] AS [WindSpeed], [T2_1].[Temperature] AS [Temperature], [T2_1].[SeaLvPressure] AS [SeaLvPressure], [T2_1].[CloudCoverage] AS [CloudCoverage], [T2_1].[PresentWeatherIndicator] AS [PresentWeatherIndicator], [T2_1].[PastWeatherIndicator] AS [PastWeatherIndicator], [T2_1].[PrecipTime] AS [PrecipTime], [T2_1].[PrecipDepth] AS [PrecipDepth], [T2_1].[SnowDepth] AS [SnowDepth], [T2_1].[StationName] AS [StationName], [T2_1].[CountryOrRegion] AS [CountryOrRegion], [T2_1].[P_k] AS [P_k], [T2_1].[Year] AS [Year], [T2_1].[Day] AS [Day], [T2_1].[Version] AS [Version] FROM [tempdb].[dbo].[TEMP_ID_102] AS T2_1) AS T1_1",1,Complete
QID766,11,OnOperation,Unspecified,Head,-1,DROP TABLE [tempdb].[dbo].[TEMP_ID_102],1,Complete

In [28]:
select execution_id, step_index,dms_step_index,
         [type], compute_pool_id,
        [status],rows_processed,source_info,destination_info
from sys.dm_exec_dms_workers
where execution_id='QID766' and step_index=7
order by dms_step_index

execution_id,step_index,dms_step_index,type,compute_pool_id,status,rows_processed,source_info,destination_info
QID766,7,0,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,1,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,2,EXTERNAL_READER,1,StepComplete,100,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,3,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,4,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,5,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,6,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,7,EXTERNAL_READER,1,StepComplete,0,sqlhdfs://controller-svc/default/weather,NULL
QID766,7,8,WRITER,1,StepComplete,40,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_A
QID766,7,9,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_B
QID766,7,10,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_C
QID766,7,11,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_D
QID766,7,12,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_E
QID766,7,13,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_F
QID766,7,14,WRITER,1,StepComplete,0,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_G
QID766,7,15,WRITER,1,StepComplete,60,NULL,QTable_9c14ec6d1ba541568538ac68d11db019_H

##  **Create External Table over Hadoop**

In [29]:

CREATE EXTERNAL TABLE [ext].[Trip]
(
    [DateID] int,
    [MedallionID] int,
    [HackneyLicenseID] int,
    [PickupTimeID] int,
    [DropoffTimeID] int,
    [PickupGeographyID] int,
    [DropoffGeographyID] int,
    [PickupLatitude] float,
    [PickupLongitude] float,
    [PickupLatLong] varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
    [DropoffLatitude] float,
    [DropoffLongitude] float,
    [DropoffLatLong] varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
    [PassengerCount] int,
    [TripDurationSeconds] int,
    [TripDistanceMiles] float,
    [PaymentType] varchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS,
    [FareAmount] money,
    [SurchargeAmount] money,
    [TaxAmount] money,
    [TipAmount] money,
    [TollsAmount] money,
    [TotalAmount] money
)
WITH
(
    LOCATION = 'NYTaxi',
    DATA_SOURCE = HadoopData,
    FILE_FORMAT = compressedcsv
);

In [31]:
select top 100 * from [ext].trip

DateID,MedallionID,HackneyLicenseID,PickupTimeID,DropoffTimeID,PickupGeographyID,DropoffGeographyID,PickupLatitude,PickupLongitude,PickupLatLong,DropoffLatitude,DropoffLongitude,DropoffLatLong,PassengerCount,TripDurationSeconds,TripDistanceMiles,PaymentType,FareAmount,SurchargeAmount,TaxAmount,TipAmount,TollsAmount,TotalAmount
20130401,8549,21414,25803,26047,137892,158034,40.8091,-73.9404,"40.8091,-73.9404",40.8195,-73.9444,"40.8195,-73.9444",1,244,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130201,9997,12657,25460,25742,151209,245819,40.7625,-73.9658,"40.7625,-73.9658",40.767,-73.9542,"40.767,-73.9542",1,282,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131214,9920,11188,27149,27378,123643,13395,40.7435,-73.9843,"40.7435,-73.9843",40.756,-73.9755,"40.756,-73.9755",1,229,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130313,6146,3434,50101,50333,101804,203287,40.7645,-73.9325,"40.7645,-73.9325",40.7556,-73.9453,"40.7556,-73.9453",1,231,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130723,11340,23310,24969,25251,438,267602,40.7565,-73.9918,"40.7565,-73.9918",40.7624,-73.9795,"40.7624,-73.9795",1,281,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130816,4419,21743,53012,53352,217944,141190,40.7563,-73.9977,"40.7563,-73.9977",40.7628,-73.9871,"40.7628,-73.9871",1,340,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130504,5800,28083,44460,44746,156368,264265,40.7719,-73.9632,"40.7719,-73.9632",40.7795,-73.9514,"40.7795,-73.9514",1,285,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130622,8611,7890,36750,36992,240598,234782,40.7564,-73.9941,"40.7564,-73.9941",40.7455,-73.9944,"40.7455,-73.9944",1,241,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130318,8716,40726,23232,23481,196775,258201,40.7262,-74.0039,"40.7262,-74.0039",40.7141,-74.0103,"40.7141,-74.0103",1,249,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130505,5113,28217,65599,65837,5101,217133,40.8344,-73.9448,"40.8344,-73.9448",40.8216,-73.9542,"40.8216,-73.9542",1,238,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130210,8010,7950,30706,31027,129592,299072,40.7329,-73.9845,"40.7329,-73.9845",40.7193,-73.9933,"40.7193,-73.9933",1,321,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130215,3896,14614,50649,50875,16680,268134,40.7221,-74.0004,"40.7221,-74.0004",40.7346,-73.9999,"40.7346,-73.9999",1,225,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130910,9157,2837,54931,55220,78606,201378,40.754,-73.9425,"40.754,-73.9425",40.7424,-73.9531,"40.7424,-73.9531",1,289,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130101,6409,12879,69150,69359,13835,41129,40.7456,-73.9719,"40.7456,-73.9719",40.7568,-73.9732,"40.7568,-73.9732",1,208,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130106,4999,20092,43914,44172,112454,214030,40.7606,-73.9949,"40.7606,-73.9949",40.7667,-73.9813,"40.7667,-73.9813",1,258,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131129,8455,5007,37596,37876,280129,92779,40.7182,-73.9864,"40.7182,-73.9864",40.7143,-73.9988,"40.7143,-73.9988",1,279,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130206,1002,31418,40161,40385,148112,48774,40.7921,-73.9716,"40.7921,-73.9716",40.8058,-73.9619,"40.8058,-73.9619",1,224,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131010,8406,25424,24868,25169,96403,189770,40.761,-73.999,"40.761,-73.999",40.7597,-73.9842,"40.7597,-73.9842",1,300,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131101,8159,5885,37538,37824,215445,265848,40.7657,-73.9761,"40.7657,-73.9761",40.773,-73.9644,"40.773,-73.9644",1,286,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130218,7990,40140,43298,43554,6691,152084,40.7664,-73.9797,"40.7664,-73.9797",40.7575,-73.9665,"40.7575,-73.9665",1,256,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130317,4349,16643,56443,56738,153432,271171,40.7529,-73.9929,"40.7529,-73.9929",40.7525,-73.9788,"40.7525,-73.9788",1,295,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130615,12977,38993,42239,42481,47393,132868,40.7444,-73.9846,"40.7444,-73.9846",40.7574,-73.9765,"40.7574,-73.9765",1,241,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130309,1196,7088,24305,24576,182816,121431,40.7335,-73.9519,"40.7335,-73.9519",40.7292,-73.9422,"40.7292,-73.9422",1,271,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131005,3823,41177,42588,42803,221622,275366,40.8296,-73.9484,"40.8296,-73.9484",40.8166,-73.9577,"40.8166,-73.9577",1,215,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130219,12569,30887,42173,42482,159950,175637,40.7741,-73.8749,"40.7741,-73.8749",40.7688,-73.8672,"40.7688,-73.8672",1,308,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131006,12441,29011,64531,64798,223286,164039,40.7227,-73.9873,"40.7227,-73.9873",40.7347,-73.9848,"40.7347,-73.9848",1,267,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130913,11894,30590,36418,36722,221868,39736,40.7441,-73.9916,"40.7441,-73.9916",40.7534,-73.9983,"40.7534,-73.9983",1,304,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130714,362,14942,53310,53549,27429,223413,40.7711,-73.9833,"40.7711,-73.9833",40.7824,-73.981,"40.7824,-73.981",1,238,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131018,8945,20358,46740,47040,4789,1256,40.8022,-73.9681,"40.8022,-73.9681",40.7915,-73.9781,"40.7915,-73.9781",1,300,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130203,4287,13303,30593,30877,261640,99255,40.7439,-73.9838,"40.7439,-73.9838",40.7491,-73.9917,"40.7491,-73.9917",1,284,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131215,1382,23605,48180,48420,53055,111266,40.7788,-73.9451,"40.7788,-73.9451",40.7665,-73.9541,"40.7665,-73.9541",1,240,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131117,123,3715,52185,52465,277999,78041,40.7833,-73.9592,"40.7833,-73.9592",40.7823,-73.9716,"40.7823,-73.9716",1,279,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130423,7384,4873,41820,42060,159530,247421,40.8075,-73.9645,"40.8075,-73.9645",40.7949,-73.9717,"40.7949,-73.9717",1,242,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130110,5221,16698,42713,42971,289928,265046,40.7094,-74.0134,"40.7094,-74.0134",40.7172,-74.0097,"40.7172,-74.0097",1,258,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130106,9089,10443,31574,31784,11719,50867,40.6845,-73.9785,"40.6845,-73.9785",40.6877,-73.9933,"40.6877,-73.9933",1,210,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131119,13312,6652,48932,49193,205400,179528,40.7691,-73.9693,"40.7691,-73.9693",40.7695,-73.9824,"40.7695,-73.9824",1,261,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131125,8982,12735,22749,23002,20052,36920,40.7564,-73.9301,"40.7564,-73.9301",40.7607,-73.921,"40.7607,-73.921",1,253,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130318,8530,18350,41753,42072,130333,180336,40.7877,-73.9752,"40.7877,-73.9752",40.7797,-73.9801,"40.7797,-73.9801",1,318,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130814,1667,9080,52854,53224,238290,243288,40.7783,-73.9565,"40.7783,-73.9565",40.7707,-73.9546,"40.7707,-73.9546",1,370,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130929,8753,33406,38100,38340,87882,135569,40.7699,-73.9879,"40.7699,-73.9879",40.7823,-73.9802,"40.7823,-73.9802",1,240,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130822,9551,25445,33041,33349,127234,81723,40.7478,-73.9852,"40.7478,-73.9852",40.7402,-73.9949,"40.7402,-73.9949",1,307,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130224,10274,15627,53074,53315,288457,233163,40.7375,-74.004,"40.7375,-74.004",40.7491,-73.9939,"40.7491,-73.9939",1,240,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130324,8182,37051,70456,70769,25055,149077,40.7703,-73.9804,"40.7703,-73.9804",40.7605,-73.9773,"40.7605,-73.9773",1,312,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131115,5449,25803,24322,24604,44272,212591,40.7654,-73.972,"40.7654,-73.972",40.7739,-73.964,"40.7739,-73.964",1,281,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131028,11691,14329,32798,33079,207892,25898,40.767,-73.9625,"40.767,-73.9625",40.78,-73.9533,"40.78,-73.9533",1,281,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130803,7986,30470,50658,50928,180117,262046,40.7937,-73.967,"40.7937,-73.967",40.8036,-73.9673,"40.8036,-73.9673",1,269,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131107,8887,3679,28453,28688,221868,14277,40.7441,-73.9916,"40.7441,-73.9916",40.7521,-74.0068,"40.7521,-74.0068",1,235,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131015,6252,9805,35940,36300,188230,924,40.7476,-73.9831,"40.7476,-73.9831",40.7577,-73.9737,"40.7577,-73.9737",1,360,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130112,6518,19258,45206,45450,301739,39250,40.7725,-73.9628,"40.7725,-73.9628",40.7847,-73.9538,"40.7847,-73.9538",1,244,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131116,6832,30377,69573,69824,89947,225885,40.7831,-73.9784,"40.7831,-73.9784",40.7723,-73.979,"40.7723,-73.979",1,250,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130312,1233,25678,27921,28212,290319,3289,40.7429,-73.9925,"40.7429,-73.9925",40.7513,-74.0048,"40.7513,-74.0048",1,291,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131221,6009,1483,33147,33404,119628,150780,40.7601,-73.9949,"40.7601,-73.9949",40.7721,-73.9896,"40.7721,-73.9896",1,257,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130506,10896,18376,32623,32927,72582,36803,40.7809,-73.9586,"40.7809,-73.9586",40.7726,-73.9621,"40.7726,-73.9621",1,303,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130609,10589,34163,46473,46705,23189,196569,40.7887,-73.9765,"40.7887,-73.9765",40.8014,-73.9679,"40.8014,-73.9679",1,232,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130812,6821,4222,32616,32989,179581,157413,40.7173,-74.0061,"40.7173,-74.0061",40.7157,-74.0144,"40.7157,-74.0144",1,372,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131225,12876,11740,48052,48338,230753,152213,40.7648,-73.9661,"40.7648,-73.9661",40.7518,-73.9771,"40.7518,-73.9771",1,286,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130207,4721,39681,44222,44502,209486,51823,40.7932,-73.9404,"40.7932,-73.9404",40.7899,-73.9543,"40.7899,-73.9543",1,279,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130818,8180,14233,52929,53266,281611,143881,40.7617,-73.9748,"40.7617,-73.9748",40.7566,-73.9866,"40.7566,-73.9866",1,336,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130602,6378,9679,47820,48120,192521,216919,40.7363,-74.0078,"40.7363,-74.0078",40.7358,-73.9931,"40.7358,-73.9931",1,300,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130319,4066,7465,28585,28845,69897,173070,40.7631,-73.982,"40.7631,-73.982",40.7506,-73.9914,"40.7506,-73.9914",1,259,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130823,9253,15858,34573,34819,94463,222993,40.7679,-73.962,"40.7679,-73.962",40.7807,-73.9526,"40.7807,-73.9526",1,245,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130103,11934,22050,50894,51203,10375,123022,40.7635,-73.971,"40.7635,-73.971",40.7739,-73.9618,"40.7739,-73.9618",1,309,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131207,1110,8211,57509,57732,241353,259208,40.7641,-73.9585,"40.7641,-73.9585",40.7762,-73.9487,"40.7762,-73.9487",1,222,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130218,344,37340,47224,47437,136260,293625,40.7692,-73.955,"40.7692,-73.955",40.78,-73.957,"40.78,-73.957",1,212,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130503,692,39922,26257,26484,186049,203770,40.7671,-73.9626,"40.7671,-73.9626",40.7569,-73.9718,"40.7569,-73.9718",1,227,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130723,1431,7973,31836,32126,87804,179434,40.7823,-73.9596,"40.7823,-73.9596",40.7916,-73.9528,"40.7916,-73.9528",1,290,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130313,13314,37513,25775,26083,281019,131373,40.7537,-73.9779,"40.7537,-73.9779",40.7633,-73.971,"40.7633,-73.971",1,307,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130511,12967,11515,70832,71070,292942,36218,40.7195,-73.9605,"40.7195,-73.9605",40.7295,-73.9549,"40.7295,-73.9549",1,238,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130215,10043,8197,22256,22491,112127,253478,40.7261,-74.0039,"40.7261,-74.0039",40.7139,-74.0104,"40.7139,-74.0104",1,234,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130131,9141,11784,54491,54762,224282,53947,40.7583,-73.9749,"40.7583,-73.9749",40.77,-73.9653,"40.77,-73.9653",1,271,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20130123,2793,23737,29393,29705,186551,167919,40.7462,-73.9905,"40.7462,-73.9905",40.7406,-74.0016,"40.7406,-74.0016",1,311,1,CSH,5.5000,0.0000,0.5000,0.0000,0.0000,6.0000
20131004,2550,35876,23827,23973,231224,214023,40.7756,-73.9587,"40.7756,-73.9587",40.762,-73.9685,"40.762,-73.9685",1,145,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130611,1696,4857,29220,29460,186374,261406,40.7647,-73.9271,"40.7647,-73.9271",40.7534,-73.9357,"40.7534,-73.9357",1,240,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130106,9392,23162,36082,36247,54170,224411,40.7528,-73.986,"40.7528,-73.986",40.7438,-73.9958,"40.7438,-73.9958",1,165,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130921,3217,4945,64020,64260,192336,125087,40.7917,-73.9649,"40.7917,-73.9649",40.7827,-73.9593,"40.7827,-73.9593",1,240,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130526,4489,40063,38135,38360,274702,32277,40.777,-73.9821,"40.777,-73.9821",40.7866,-73.9724,"40.7866,-73.9724",1,225,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130513,2490,34504,47431,47648,14857,53878,40.767,-73.9565,"40.767,-73.9565",40.7797,-73.9472,"40.7797,-73.9472",1,216,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20131130,9093,28995,28337,28459,105169,1009,40.7636,-73.9773,"40.7636,-73.9773",40.7742,-73.9802,"40.7742,-73.9802",1,121,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130812,5078,37747,50932,51198,231208,229651,40.7854,-73.9728,"40.7854,-73.9728",40.7884,-73.9707,"40.7884,-73.9707",1,265,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130716,7834,35082,27291,27518,96397,77635,40.7453,-73.995,"40.7453,-73.995",40.7514,-74.0069,"40.7514,-74.0069",1,227,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130817,3990,24062,21732,21990,28503,74989,40.7497,-73.9888,"40.7497,-73.9888",40.7561,-74.0027,"40.7561,-74.0027",1,257,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130126,1763,975,65075,65265,296912,10782,40.7186,-74.0089,"40.7186,-74.0089",40.733,-74.007,"40.733,-74.007",1,189,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130404,12600,648,54440,54685,130305,23352,40.7401,-73.9899,"40.7401,-73.9899",40.7301,-73.9978,"40.7301,-73.9978",1,245,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130201,3681,28031,25043,25256,76706,4350,40.7505,-73.9873,"40.7505,-73.9873",40.763,-73.978,"40.763,-73.978",1,213,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130408,3686,7430,24328,24537,86310,210080,40.75,-73.9919,"40.75,-73.9919",40.7401,-73.9862,"40.7401,-73.9862",1,209,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130314,4941,26167,27017,27179,241849,243756,40.7524,-73.9754,"40.7524,-73.9754",40.7415,-73.9857,"40.7415,-73.9857",1,162,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130817,12705,41629,26222,26391,148486,148268,40.7458,-73.9723,"40.7458,-73.9723",40.7347,-73.9833,"40.7347,-73.9833",1,169,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130218,13618,39246,22495,22638,189211,201455,40.7561,-73.9903,"40.7561,-73.9903",40.7624,-73.979,"40.7624,-73.979",1,143,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130817,13181,15489,70448,70657,74694,79,40.7642,-73.9797,"40.7642,-73.9797",40.7706,-73.9824,"40.7706,-73.9824",1,208,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20131201,9922,17388,63848,63988,79798,89331,40.7317,-73.9823,"40.7317,-73.9823",40.7441,-73.9762,"40.7441,-73.9762",1,140,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130409,11316,10284,25724,25847,256912,256912,40.7639,-73.9022,"40.7639,-73.9022",40.764,-73.9019,"40.764,-73.9019",1,123,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130421,3867,11213,34140,34320,298321,17936,40.7271,-73.9915,"40.7271,-73.9915",40.736,-73.9936,"40.736,-73.9936",1,165,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130531,5471,41963,30622,30835,181661,170461,40.7572,-73.9934,"40.7572,-73.9934",40.7688,-73.9917,"40.7688,-73.9917",1,212,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130813,1928,23370,53356,53615,164404,102762,40.7996,-73.9682,"40.7996,-73.9682",40.8075,-73.9666,"40.8075,-73.9666",1,258,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130821,9913,33943,23078,23213,256912,256912,40.7642,-73.9021,"40.7642,-73.9021",40.7642,-73.9019,"40.7642,-73.9019",1,135,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20131208,149,5951,23342,23521,21018,55043,40.7453,-73.9755,"40.7453,-73.9755",40.7319,-73.9854,"40.7319,-73.9854",1,179,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130814,11701,4479,41095,41357,247803,277694,40.7528,-73.965,"40.7528,-73.965",40.7593,-73.9612,"40.7593,-73.9612",1,261,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130917,3224,1107,23100,23316,47530,157402,40.7658,-73.9823,"40.7658,-73.9823",40.7551,-73.9781,"40.7551,-73.9781",1,216,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20131228,8860,30825,62506,62710,44130,39250,40.7744,-73.9514,"40.7744,-73.9514",40.7848,-73.9538,"40.7848,-73.9538",1,203,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000
20130130,7917,37756,28248,28433,49338,296972,40.7498,-73.9913,"40.7498,-73.9913",40.7396,-73.9871,"40.7396,-73.9871",1,184,1,CSH,5.0000,0.0000,0.5000,0.0000,0.0000,5.5000

## **Internal Details**

The request steps in this execution is very similar to the previous one, with a single difference: It's not using the compute pool, because the target is the hadoop cluster. The compute pool appears as 0. All the steps for compute and head are still executed, but there will always be a single compute node.

In [32]:
select top 8 execution_id, status, start_time,end_time,
            compute_pool_id, text,dbid 
 from sys.dm_exec_distributed_requests
cross apply sys.dm_exec_sql_text(sql_handle) st
order by start_time desc

execution_id,status,start_time,end_time,compute_pool_id,text,dbid
QID778,Running,2020-11-05 23:18:10.273,NULL,1,"CREATE FUNCTION sys.fn_polybase_distributed_requests_per_pool(@poolId int) RETURNS @distributed_requests TABLE ( sql_handle varbinary(64), execution_id nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile, force scaleoutexecution) RETURN END",32767
QID980,Running,2020-11-05 23:18:10.043,NULL,0,"CREATE FUNCTION sys.fn_polybase_distributed_requests_per_pool(@poolId int) RETURNS @distributed_requests TABLE ( sql_handle varbinary(64), execution_id nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_requests SELECT sql_handle, execution_id collate database_default execution_id, status collate database_default status, error_id, start_time, end_time, total_elapsed_time FROM sys._dm_exec_distributed_requests option(recompile, force scaleoutexecution) RETURN END",32767
QID977,Completed,2020-11-05 23:17:40.850,2020-11-05 23:17:45.747,0,select top 100 * from [ext].trip,NULL
QID975,Failed,2020-11-05 23:17:16.350,2020-11-05 23:17:20.477,0,select top 100 * from [ext].trip,NULL
QID775,Completed,2020-11-05 23:15:53.613,2020-11-05 23:15:53.963,1,"CREATE FUNCTION sys.fn_polybase_dms_workers_per_pool(@poolId int) RETURNS @dms_workers TABLE ( execution_id nvarchar(32), step_index int, dms_step_index int, compute_node_id int, distribution_id int, type nvarchar(32), status nvarchar(32), bytes_per_sec bigint, bytes_processed bigint, rows_processed bigint, start_time datetime, end_time datetime, total_elapsed_time int, cpu_time bigint, query_time int, buffers_available int, dms_cpid int, sql_spid int, error_id nvarchar(36), source_info nvarchar(4000), destination_info nvarchar(4000), command nvarchar(4000) ) AS BEGIN if @poolId = 0 INSERT INTO @dms_workers SELECT execution_id collate database_default execution_id, step_index, dms_step_index, compute_node_id, distribution_id, type collate database_default type, status collate database_default status, bytes_per_sec, bytes_processed, rows_processed, start_time, end_time, total_elapsed_time, cpu_time, query_time, buffers_available, dms_cpid, sql_spid, error_id collate database_default error_id, source_info collate database_default source_info, destination_info collate database_default destination_info, command collate database_default command FROM sys._dm_exec_dms_workers option(recompile) ELSE IF @poolId = 1 INSERT INTO @dms_workers SELECT execution_id collate database_default execution_id, step_index, dms_step_index, compute_node_id, distribution_id, type collate database_default type, status collate database_default status, bytes_per_sec, bytes_processed, rows_processed, start_time, end_time, total_elapsed_time, cpu_time, query_time, buffers_available, dms_cpid, sql_spid, error_id collate database_default error_id, source_info collate database_default source_info, destination_info collate database_default destination_info, command collate database_default command FROM sys._dm_exec_dms_workers option(recompile, force scaleoutexecution) RETURN END",32767
QID969,Completed,2020-11-05 23:15:52.980,2020-11-05 23:15:53.480,0,"CREATE FUNCTION sys.fn_polybase_dms_workers_per_pool(@poolId int) RETURNS @dms_workers TABLE ( execution_id nvarchar(32), step_index int, dms_step_index int, compute_node_id int, distribution_id int, type nvarchar(32), status nvarchar(32), bytes_per_sec bigint, bytes_processed bigint, rows_processed bigint, start_time datetime, end_time datetime, total_elapsed_time int, cpu_time bigint, query_time int, buffers_available int, dms_cpid int, sql_spid int, error_id nvarchar(36), source_info nvarchar(4000), destination_info nvarchar(4000), command nvarchar(4000) ) AS BEGIN if @poolId = 0 INSERT INTO @dms_workers SELECT execution_id collate database_default execution_id, step_index, dms_step_index, compute_node_id, distribution_id, type collate database_default type, status collate database_default status, bytes_per_sec, bytes_processed, rows_processed, start_time, end_time, total_elapsed_time, cpu_time, query_time, buffers_available, dms_cpid, sql_spid, error_id collate database_default error_id, source_info collate database_default source_info, destination_info collate database_default destination_info, command collate database_default command FROM sys._dm_exec_dms_workers option(recompile) ELSE IF @poolId = 1 INSERT INTO @dms_workers SELECT execution_id collate database_default execution_id, step_index, dms_step_index, compute_node_id, distribution_id, type collate database_default type, status collate database_default status, bytes_per_sec, bytes_processed, rows_processed, start_time, end_time, total_elapsed_time, cpu_time, query_time, buffers_available, dms_cpid, sql_spid, error_id collate database_default error_id, source_info collate database_default source_info, destination_info collate database_default destination_info, command collate database_default command FROM sys._dm_exec_dms_workers option(recompile, force scaleoutexecution) RETURN END",32767
QID772,Completed,2020-11-05 23:14:50.173,2020-11-05 23:14:50.330,1,"CREATE FUNCTION sys.fn_polybase_distributed_request_steps_per_pool(@poolId int) RETURNS @distributed_request_steps TABLE ( execution_id nvarchar(32), step_index int, operation_type nvarchar(128), distribution_type nvarchar(32), location_type nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int, row_count bigint, command nvarchar(4000) ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_request_steps SELECT execution_id collate database_default execution_id, step_index, operation_type collate database_default operation_type, distribution_type collate database_default distribution_type, location_type collate database_default location_type, status collate database_default status, error_id collate database_default error_id, start_time, end_time, total_elapsed_time, row_count, command collate database_default command FROM sys._dm_exec_distributed_request_steps option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_request_steps SELECT execution_id collate database_default execution_id, step_index, operation_type collate database_default operation_type, distribution_type collate database_default distribution_type, location_type collate database_default location_type, status collate database_default status, error_id collate database_default error_id, start_time, end_time, total_elapsed_time, row_count, command collate database_default command FROM sys._dm_exec_distributed_request_steps option(recompile, force scaleoutexecution) RETURN END",32767
QID966,Completed,2020-11-05 23:14:49.930,2020-11-05 23:14:50.053,0,"CREATE FUNCTION sys.fn_polybase_distributed_request_steps_per_pool(@poolId int) RETURNS @distributed_request_steps TABLE ( execution_id nvarchar(32), step_index int, operation_type nvarchar(128), distribution_type nvarchar(32), location_type nvarchar(32), status nvarchar(32), error_id nvarchar(36), start_time datetime, end_time datetime, total_elapsed_time int, row_count bigint, command nvarchar(4000) ) AS BEGIN if @poolId = 0 INSERT INTO @distributed_request_steps SELECT execution_id collate database_default execution_id, step_index, operation_type collate database_default operation_type, distribution_type collate database_default distribution_type, location_type collate database_default location_type, status collate database_default status, error_id collate database_default error_id, start_time, end_time, total_elapsed_time, row_count, command collate database_default command FROM sys._dm_exec_distributed_request_steps option(recompile) ELSE IF @poolId = 1 INSERT INTO @distributed_request_steps SELECT execution_id collate database_default execution_id, step_index, operation_type collate database_default operation_type, distribution_type collate database_default distribution_type, location_type collate database_default location_type, status collate database_default status, error_id collate database_default error_id, start_time, end_time, total_elapsed_time, row_count, command collate database_default command FROM sys._dm_exec_distributed_request_steps option(recompile, force scaleoutexecution) RETURN END",32767

In [33]:
select execution_id,step_index, operation_type,
        distribution_type, location_type,
        row_count,command,
        compute_pool_id, status
 from sys.dm_exec_distributed_request_steps
where execution_id='QID977'
order by step_index

execution_id,step_index,operation_type,distribution_type,location_type,row_count,command,compute_pool_id,status
QID977,0,RandomIDOperation,Unspecified,Head,-1,TEMP_ID_110,0,Complete
QID977,1,OnOperation,AllDistributions,Compute,-1,"CREATE TABLE [tempdb].[dbo].[TEMP_ID_110] ([DateID] INT, [MedallionID] INT, [HackneyLicenseID] INT, [PickupTimeID] INT, [DropoffTimeID] INT, [PickupGeographyID] INT, [DropoffGeographyID] INT, [PickupLatitude] FLOAT(53), [PickupLongitude] FLOAT(53), [PickupLatLong] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [DropoffLatitude] FLOAT(53), [DropoffLongitude] FLOAT(53), [DropoffLatLong] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [PassengerCount] INT, [TripDurationSeconds] INT, [TripDistanceMiles] FLOAT(53), [PaymentType] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [FareAmount] MONEY, [SurchargeAmount] MONEY, [TaxAmount] MONEY, [TipAmount] MONEY, [TollsAmount] MONEY, [TotalAmount] MONEY ) WITH(DATA_COMPRESSION=PAGE);",0,Complete
QID977,2,OnOperation,AllDistributions,Compute,-1,"EXEC [tempdb].[sys].[sp_addextendedproperty] @name=N'IS_EXTERNAL_STREAMING_TABLE', @value=N'true', @level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'TEMP_ID_110'",0,Complete
QID977,3,OnOperation,AllDistributions,Compute,-1,"UPDATE STATISTICS [tempdb].[dbo].[TEMP_ID_110] WITH ROWCOUNT = 4223388, PAGECOUNT = 141260",0,Complete
QID977,4,RandomIDOperation,Unspecified,Head,-1,TEMP_ID_111,0,Complete
QID977,5,OnOperation,Unspecified,Head,-1,"CREATE TABLE [tempdb].[dbo].[TEMP_ID_111] ([DateID] INT, [MedallionID] INT, [HackneyLicenseID] INT, [PickupTimeID] INT, [DropoffTimeID] INT, [PickupGeographyID] INT, [DropoffGeographyID] INT, [PickupLatitude] FLOAT(53), [PickupLongitude] FLOAT(53), [PickupLatLong] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [DropoffLatitude] FLOAT(53), [DropoffLongitude] FLOAT(53), [DropoffLatLong] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [PassengerCount] INT, [TripDurationSeconds] INT, [TripDistanceMiles] FLOAT(53), [PaymentType] VARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS, [FareAmount] MONEY, [SurchargeAmount] MONEY, [TaxAmount] MONEY, [TipAmount] MONEY, [TollsAmount] MONEY, [TotalAmount] MONEY ) WITH(DATA_COMPRESSION=PAGE);",0,Complete
QID977,6,MultiStreamOperation,Unspecified,Head,-1,NULL,0,Complete
QID977,7,HadoopRoundRobinOperation,Unspecified,DMS,5751,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM [AdvWorksDW].[ext].[Trip] AS T1_1",0,Complete
QID977,8,PartitionMoveOperation,Unspecified,DMS,800,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[TEMP_ID_110] AS T2_1) AS T1_1",0,Complete
QID977,9,OnOperation,AllDistributions,Compute,-1,DROP TABLE [tempdb].[dbo].[TEMP_ID_110],0,Complete
QID977,10,StreamingReturnOperation,Unspecified,DMS,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[TEMP_ID_111] AS T2_1) AS T1_1",0,Complete
QID977,11,OnOperation,Unspecified,Head,-1,DROP TABLE [tempdb].[dbo].[TEMP_ID_111],0,Complete

In [34]:
select execution_id, step_index,dms_step_index,
         [type], compute_pool_id,
        [status],rows_processed,source_info,destination_info
from sys.dm_exec_dms_workers
where execution_id='QID977' and step_index=7
order by dms_step_index

execution_id,step_index,dms_step_index,type,compute_pool_id,status,rows_processed,source_info,destination_info
QID977,7,0,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,1,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,2,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,3,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,4,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,5,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,6,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,7,EXTERNAL_READER,0,StepCancelled,0,hdfs://nmnode-0-svc:9000/NYTaxi,NULL
QID977,7,8,ROUNDROBIN_CONVERTER,0,StepCancelled,71,NULL,NULL
QID977,7,9,ROUNDROBIN_CONVERTER,0,StepCancelled,71,NULL,NULL
QID977,7,10,ROUNDROBIN_CONVERTER,0,StepCancelled,71,NULL,NULL
QID977,7,11,ROUNDROBIN_CONVERTER,0,StepCancelled,NULL,NULL,NULL
QID977,7,12,ROUNDROBIN_CONVERTER,0,StepCancelled,NULL,NULL,NULL
QID977,7,13,ROUNDROBIN_CONVERTER,0,StepCancelled,NULL,NULL,NULL
QID977,7,14,ROUNDROBIN_CONVERTER,0,StepCancelled,NULL,NULL,NULL
QID977,7,15,ROUNDROBIN_CONVERTER,0,StepCancelled,NULL,NULL,NULL
QID977,7,16,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_A
QID977,7,17,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_B
QID977,7,18,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_C
QID977,7,19,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_D
QID977,7,20,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_E
QID977,7,21,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_F
QID977,7,22,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_G
QID977,7,23,WRITER,0,StepCancelled,71,NULL,QTable_1b1adcd306c6412eabd7d2710d125f55_H

**Why the Hadoop operation was cancelled ?**

It was identified there was only the need to read a single partition, so it reverted to another reading method

_The Parallel\_Copy\_Reader you see below doesn't generate steps as external work_

In [35]:
select execution_id, step_index,dms_step_index,
         [type], compute_pool_id,
        [status],rows_processed,source_info,destination_info
from sys.dm_exec_dms_workers
where execution_id='QID925' and step_index=8
order by dms_step_index

execution_id,step_index,dms_step_index,type,compute_pool_id,status,rows_processed,source_info,destination_info
QID925,8,0,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_A] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,1,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_B] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,2,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_C] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,3,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_D] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,4,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_E] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,5,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_F] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,6,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_G] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]
QID925,8,7,PARALLEL_COPY_READER,0,StepComplete,100,"SELECT [T1_1].[DateID] AS [DateID], [T1_1].[MedallionID] AS [MedallionID], [T1_1].[HackneyLicenseID] AS [HackneyLicenseID], [T1_1].[PickupTimeID] AS [PickupTimeID], [T1_1].[DropoffTimeID] AS [DropoffTimeID], [T1_1].[PickupGeographyID] AS [PickupGeographyID], [T1_1].[DropoffGeographyID] AS [DropoffGeographyID], [T1_1].[PickupLatitude] AS [PickupLatitude], [T1_1].[PickupLongitude] AS [PickupLongitude], [T1_1].[PickupLatLong] AS [PickupLatLong], [T1_1].[DropoffLatitude] AS [DropoffLatitude], [T1_1].[DropoffLongitude] AS [DropoffLongitude], [T1_1].[DropoffLatLong] AS [DropoffLatLong], [T1_1].[PassengerCount] AS [PassengerCount], [T1_1].[TripDurationSeconds] AS [TripDurationSeconds], [T1_1].[TripDistanceMiles] AS [TripDistanceMiles], [T1_1].[PaymentType] AS [PaymentType], [T1_1].[FareAmount] AS [FareAmount], [T1_1].[SurchargeAmount] AS [SurchargeAmount], [T1_1].[TaxAmount] AS [TaxAmount], [T1_1].[TipAmount] AS [TipAmount], [T1_1].[TollsAmount] AS [TollsAmount], [T1_1].[TotalAmount] AS [TotalAmount] FROM (SELECT TOP (CAST ((100) AS BIGINT)) [T2_1].[DateID] AS [DateID], [T2_1].[MedallionID] AS [MedallionID], [T2_1].[HackneyLicenseID] AS [HackneyLicenseID], [T2_1].[PickupTimeID] AS [PickupTimeID], [T2_1].[DropoffTimeID] AS [DropoffTimeID], [T2_1].[PickupGeographyID] AS [PickupGeographyID], [T2_1].[DropoffGeographyID] AS [DropoffGeographyID], [T2_1].[PickupLatitude] AS [PickupLatitude], [T2_1].[PickupLongitude] AS [PickupLongitude], [T2_1].[PickupLatLong] AS [PickupLatLong], [T2_1].[DropoffLatitude] AS [DropoffLatitude], [T2_1].[DropoffLongitude] AS [DropoffLongitude], [T2_1].[DropoffLatLong] AS [DropoffLatLong], [T2_1].[PassengerCount] AS [PassengerCount], [T2_1].[TripDurationSeconds] AS [TripDurationSeconds], [T2_1].[TripDistanceMiles] AS [TripDistanceMiles], [T2_1].[PaymentType] AS [PaymentType], [T2_1].[FareAmount] AS [FareAmount], [T2_1].[SurchargeAmount] AS [SurchargeAmount], [T2_1].[TaxAmount] AS [TaxAmount], [T2_1].[TipAmount] AS [TipAmount], [T2_1].[TollsAmount] AS [TollsAmount], [T2_1].[TotalAmount] AS [TotalAmount] FROM [tempdb].[dbo].[QTable_dda3756020524f1989773fcb05f0b723_H] AS T2_1) AS T1_1",[tempdb].[dbo].[QTable_ef73e258e0814322980d1eec82fde84e]

## **Creating the 3rd External Table**

In [36]:
CREATE EXTERNAL TABLE ext.holidays (
	[countryOrRegion] varchar(8000),
	[holidayName] varchar(8000),
	[normalizeHolidayName] varchar(8000),
	[isPaidTimeOff] bit,
	[countryRegionCode] varchar(8000),
	[date] datetime2(7)
	)
	WITH (
	LOCATION = 'holidays',
	DATA_SOURCE = SqlStoragePool,
	FILE_FORMAT = parquetformat
	)
GO

In [37]:
select top 100 * from ext.holidays

countryOrRegion,holidayName,normalizeHolidayName,isPaidTimeOff,countryRegionCode,date
Belgium,Nieuwjaarsdag,Nieuwjaarsdag,NULL,BE,1970-01-01 00:00:00.0000000
France,Jour de l'an,Jour de l'an,NULL,FR,1970-01-01 00:00:00.0000000
Poland,Nowy Rok,Nowy Rok,NULL,PL,1970-01-01 00:00:00.0000000
New Zealand,Day after New Year's Day,Day after New Year's Day,NULL,NZ,1970-01-02 00:00:00.0000000
Italy,Epifania del Signore,Epifania del Signore,NULL,IT,1970-01-06 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-01-18 00:00:00.0000000
Mexico,Da de la Constitucin [Constitution Day],Da de la Constitucin [Constitution Day],NULL,MX,1970-02-05 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-02-15 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-03-08 00:00:00.0000000
Japan,,,NULL,JP,1970-03-21 00:00:00.0000000
Colombia,Jueves Santo [Maundy Thursday],Jueves Santo [Maundy Thursday],NULL,CO,1970-03-26 00:00:00.0000000
Denmark,Langfredag,Langfredag,NULL,DK,1970-03-27 00:00:00.0000000
Portugal,Sexta-feira Santa,Sexta-feira Santa,NULL,PT,1970-03-27 00:00:00.0000000
Croatia,Nova Godina,Nova Godina,NULL,HR,1970-01-01 00:00:00.0000000
Mexico,Ao Nuevo [New Year's Day],Ao Nuevo [New Year's Day],NULL,MX,1970-01-01 00:00:00.0000000
Sweden,Nyrsdagen,Nyrsdagen,NULL,SE,1970-01-01 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-01-04 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-01-11 00:00:00.0000000
Australia,Australia Day,Australia Day,NULL,AU,1970-01-26 00:00:00.0000000
Argentina,Da de Carnaval [Carnival's Day],Da de Carnaval [Carnival's Day],NULL,AR,1970-02-10 00:00:00.0000000
United States,Washington's Birthday,Washington's Birthday,1,US,1970-02-22 00:00:00.0000000
Ireland,St. Patrick's Day,St. Patrick's Day,NULL,IE,1970-03-17 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-03-22 00:00:00.0000000
Australia,Good Friday,Good Friday,NULL,AU,1970-03-27 00:00:00.0000000
Netherlands,Goede Vrijdag,Goede Vrijdag,NULL,NL,1970-03-27 00:00:00.0000000
Canada,New Year's Day,New Year's Day,NULL,CA,1970-01-01 00:00:00.0000000
Italy,Capodanno,Capodanno,NULL,IT,1970-01-01 00:00:00.0000000
South Africa,New Year's Day,New Year's Day,NULL,ZA,1970-01-01 00:00:00.0000000
United Kingdom,New Year Holiday [Scotland],New Year Holiday,1,GB,1970-01-02 00:00:00.0000000
Sweden,Trettondedag jul,Trettondedag jul,NULL,SE,1970-01-06 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-01-25 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-02-08 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-02-22 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-03-15 00:00:00.0000000
Denmark,Palmesndag,Palmesndag,NULL,DK,1970-03-22 00:00:00.0000000
Norway,Skjrtorsdag,Skjrtorsdag,NULL,NO,1970-03-26 00:00:00.0000000
Finland,Pitkperjantai,Pitkperjantai,NULL,FI,1970-03-27 00:00:00.0000000
Argentina,Ao Nuevo [New Year's Day],Ao Nuevo [New Year's Day],NULL,AR,1970-01-01 00:00:00.0000000
Czech,Nov rok,Nov rok,NULL,CZ,1970-01-01 00:00:00.0000000
Netherlands,Nieuwjaarsdag,Nieuwjaarsdag,NULL,NL,1970-01-01 00:00:00.0000000
Switzerland,Neujahrestag,Neujahrestag,NULL,CH,1970-01-01 00:00:00.0000000
Austria,Heilige Drei Knige,Heilige Drei Knige,NULL,AT,1970-01-06 00:00:00.0000000
Colombia,Da de los Reyes Magos [Epiphany](Observed),Da de los Reyes Magos [Epiphany],NULL,CO,1970-01-12 00:00:00.0000000
India,Republic Day,Republic Day,1,IN,1970-01-26 00:00:00.0000000
Brazil,Carnaval,Carnaval,NULL,BR,1970-02-10 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-03-01 00:00:00.0000000
Northern Ireland,St. Patrick's Day,St. Patrick's Day,NULL,NULL,1970-03-17 00:00:00.0000000
Colombia,Da de San Jos [Saint Joseph's Day](Observed),Da de San Jos [Saint Joseph's Day],NULL,CO,1970-03-23 00:00:00.0000000
Brazil,Sexta-feira Santa,Sexta-feira Santa,NULL,BR,1970-03-27 00:00:00.0000000
New Zealand,Good Friday,Good Friday,NULL,NZ,1970-03-27 00:00:00.0000000
Australia,New Year's Day,New Year's Day,NULL,AU,1970-01-01 00:00:00.0000000
Denmark,Nytrsdag,Nytrsdag,NULL,DK,1970-01-01 00:00:00.0000000
New Zealand,New Year's Day,New Year's Day,NULL,NZ,1970-01-01 00:00:00.0000000
Ukraine,,,NULL,UA,1970-01-01 00:00:00.0000000
Croatia,Sveta tri kralja,Sveta tri kralja,NULL,HR,1970-01-06 00:00:00.0000000
India,Makar Sankranti / Pongal,Makar Sankranti / Pongal,0,IN,1970-01-14 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-02-01 00:00:00.0000000
Brazil,Quarta-feira de cinzas (Incio da Quaresma),Quarta-feira de cinzas (Incio da Quaresma),NULL,BR,1970-02-11 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-03-01 00:00:00.0000000
United Kingdom,St. Patrick's Day [Northern Ireland],St. Patrick's Day,0,GB,1970-03-17 00:00:00.0000000
Argentina,Da Nacional de la Memoria por la Verdad y la Justicia [Memory's National Day for the Truth and Justice],Da Nacional de la Memoria por la Verdad y la Justicia [Memory's National Day for the Truth and Justice],NULL,AR,1970-03-24 00:00:00.0000000
Canada,Good Friday,Good Friday,NULL,CA,1970-03-27 00:00:00.0000000
Northern Ireland,Good Friday,Good Friday,NULL,NULL,1970-03-27 00:00:00.0000000
Austria,Neujahr,Neujahr,NULL,AT,1970-01-01 00:00:00.0000000
Finland,Uudenvuodenpiv,Uudenvuodenpiv,NULL,FI,1970-01-01 00:00:00.0000000
Norway,Frste nyttrsdag,Frste nyttrsdag,NULL,NO,1970-01-01 00:00:00.0000000
United States,New Year's Day,New Year's Day,1,US,1970-01-01 00:00:00.0000000
Finland,Loppiainen,Loppiainen,NULL,FI,1970-01-06 00:00:00.0000000
Japan,,,NULL,JP,1970-01-15 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-02-01 00:00:00.0000000
Japan,,,NULL,JP,1970-02-11 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-03-08 00:00:00.0000000
Hungary,A Tancskztrsasg kikiltsnak nnepe,A Tancskztrsasg kikiltsnak nnepe,NULL,HU,1970-03-21 00:00:00.0000000
Argentina,Semana Santa (Jueves Santo) [Holy day (Holy Thursday)],Semana Santa (Jueves Santo) [Holy day (Holy Thursday)],NULL,AR,1970-03-26 00:00:00.0000000
Colombia,Viernes Santo [Good Friday],Viernes Santo [Good Friday],NULL,CO,1970-03-27 00:00:00.0000000
Norway,Langfredag,Langfredag,NULL,NO,1970-03-27 00:00:00.0000000
Colombia,Ao Nuevo [New Year's Day],Ao Nuevo [New Year's Day],NULL,CO,1970-01-01 00:00:00.0000000
Japan,,,NULL,JP,1970-01-01 00:00:00.0000000
Spain,Ao nuevo,Ao nuevo,NULL,ES,1970-01-01 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-01-04 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-01-11 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-01-25 00:00:00.0000000
Argentina,Da de Carnaval [Carnival's Day],Da de Carnaval [Carnival's Day],NULL,AR,1970-02-09 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-02-22 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-03-15 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-03-22 00:00:00.0000000
Argentina,Semana Santa (Viernes Santo) [Holy day (Holy Friday)],Semana Santa (Viernes Santo) [Holy day (Holy Friday)],NULL,AR,1970-03-27 00:00:00.0000000
Isle of Man,Good Friday,Good Friday,NULL,IM,1970-03-27 00:00:00.0000000
Brazil,Ano novo,Ano novo,NULL,BR,1970-01-01 00:00:00.0000000
Hungary,jv,jv,NULL,HU,1970-01-01 00:00:00.0000000
Portugal,Ano Novo,Ano Novo,NULL,PT,1970-01-01 00:00:00.0000000
Scotland,New Year Holiday,New Year Holiday,NULL,NULL,1970-01-02 00:00:00.0000000
Spain,Epifana del Seor,Epifana del Seor,NULL,ES,1970-01-06 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-01-18 00:00:00.0000000
Norway,Sndag,Sndag,NULL,NO,1970-02-08 00:00:00.0000000
Sweden,Sndag,Sndag,NULL,SE,1970-02-15 00:00:00.0000000
Ukraine,,,NULL,UA,1970-03-08 00:00:00.0000000
Mexico,Natalicio de Benito Jurez [Benito Jurez's birthday],Natalicio de Benito Jurez [Benito Jurez's birthday],NULL,MX,1970-03-21 00:00:00.0000000
Denmark,Skrtorsdag,Skrtorsdag,NULL,DK,1970-03-26 00:00:00.0000000
England,Good Friday,Good Friday,NULL,NULL,1970-03-27 00:00:00.0000000